# Node modules
node_modules/

# Build files
build/
dist/

# Environment files
.env
.env.local

# Operating system files
.DS_Store

# Development files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE specific files
.vscode/
.idea/

# Logs
*.log